<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head') %>
        <style></style>
    </head>
    <body>
        <%-include('components/priceinfo')%> <%- include('navbar')%> <%-
        include('components/bookinfo')%> <%-include('components/comment')%>
    </body>
</html>
